:root {
  --body-text: #686868;
  --body-bg: #fafafa;
  --orange: #ff6600;
  --borders: #efefef;
  --borders-hover: #fbfbfb;
  --content-bg: #fff;
  --gray-dark: #989898;
  --gray-light: #b7b7b7;
  --brand-title: #555;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--body-bg);
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: var(--body-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  word-wrap: break-word;
}

.container {
  margin: 0 auto;
}

.content {
  background: var(--content-bg);
  border: 1px solid var(--borders);
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

.loading-spinner {
  text-align: center;
  padding: 20px;
}

.loading-spinner:before {
  padding: 0 5px 0 0;
  content: url(../assets/img/spinner.svg);
  vertical-align: -50%;
}

.message--header {
  display: flex;
  justify-content: space-between;
}

.reaction-count {
  display: flex;
  align-items: center;
  color: var(--orange);
}

.thumbs-icon {
  width: 1.125rem;
  margin-right: 0.5rem;
}

.avatar {
  display: inline-flex;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.avatar img {
  border-radius: 50%;
}

.user-info {
  display: flex;
}

.username {
  /* margin-left: 1rem; */
  font-size: 1rem;
  font-weight: 600;
  flex-shrink: 0;
  align-self: flex-end;
  margin-bottom: 0;
  color: var(--gray-dark);
}

.username span {
  font-size: 0.75rem;
  margin-left: 0.5rem;
  color: var(--gray-light);
}

.message {
  padding: 1.5rem;
  border-bottom: 1px solid var(--borders);
}

.message:hover {
  background: var(--borders-hover);
}

.message--content {
  margin-top: 1rem;
  display: block;
  color: var(--body-text);
}

.message--content:visited {
  color: var(--gray-light);
}

.message--link {
  color: var(--gray-light);
  display: block;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.message--link img {
  width: 16px;
  height: 16px;

  margin-right: 0.5rem;
  transform: translate(0, 2px);
}

.header {
  margin: 1.5rem 0 1.5rem 1.5rem;
}

.header--menu-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header--menu-items li {
  float: left;
}

.header--menu-items li a {
  display: block;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

.brand {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}

.brand--title {
  margin-left: 11px;
  color: var(--brand-title);
}

.brand--title--small {
  text-transform: lowercase;
  color: var(--body-text);
  padding-left: 4px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .header {
    margin: 1.5rem 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1600px;
  }
}
